body{
    background-color: grey;
    font-family: 'Noto Sans', sans-serif;
}
.body{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 30vw 65vw;
}
.first{
    padding-top: 15px;
    padding-left: 1.1vw;
    background-color: .1da1f2;
    color: white;
    width: 100%;
    padding-bottom: 3vw;
}

.second{
    background-color: white;
}
.image{
    margin-top: -15px;
    margin-left: -1.1vw;
    height: 45vh; 
    object-fit: cover;       
    width: 38vw;
}
.name{
    font-size: 2vw;
    padding-left: 0.2vw;
}
.material-symbols-outlined {
    padding-right: 0.5vw;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.direction_icon{
    font-size: 3vw;
}
.info{
    display: flex;
    margin-left: -0.7vw;
    flex-direction: column;
    font-size: 1.4vw;

}
.location_icon, .email_icon, .website_icon, .mobile_icon{
    font-size: 3vw;
}
.hr{
    width: 34.5vw;
    border-radius: 10px;
    margin-left: 0.5vw;

}
.skill{
    font-size: 2vw;
    margin-left: 0.2vw;
}
.container{
    background-color: .6db3de;
    border-radius: 1px;
    width: 15vw;
    margin-left: 10vw;
    height: 1.2vh;
}

.fill{
    text-align: right;
    background-color: #fff;
    border-radius: 10px;
    height: 1.2vh;
    color: #1da1f2;
    margin-left: -0.3vw;
}
.html{
    width: 80%;
}
.css{
    width: 70%;
}
.sas{
    width: 40%;
}
.js{
    width: 75%;
}
.jquery{
    width: 80%;
    
}
.html_label{
    position: relative;
    top: 2.2vh;
    left: -0.6vw;
}
.css_label{
    position: absolute;
    margin-top: 2.8vh;
    left: 2.2vw;
}
.sas_label{
    position: absolute;
    margin-top: 2.8vh;
    left: 2.2vw;
}
.js_label{
    position: absolute;
    margin-top: 2.8vh;
    left: 2.2vw;
}
.jquery_label{
    position: absolute;
    margin-top: 2.8vh;
    left: 2.2vw;

}
.html_label_bottom{
    position: relative;
  left: 29vw;
  top: -3vh;
}
.css_label_bottom{
    position: relative;
    left: 29vw;
    top: -3vh;
    
}
.sas_label_bottom{
    position: relative;
    left: 29vw;
    top: -3vh;
    
}
.js_label_bottom{
    position: relative;
    left: 29vw;
    top: -3vh;
    
}
.jquery_label_bottom{
    position: relative;
    left: 29vw;
    top: -2vh;
  
}
.circle{
    background-color: #fff;
    border-radius: 50%;
    height: 3vw;
    margin-top: 2vh;
    width: 3vw;
}
.second{
    padding-left: 1vw;
    padding-top: 6vh;
    padding-right: 2.5vw;
}
.about_us{
    font-size: 2vw;
    color: .1da1f2;
}
.about{
    font-size: 1.3vw;
}
.hrr{
    width: 50.5vw;
    border-radius: 10px;
    margin-left: 1.5vw;
    color: .1da1f2;
    margin-top: 5vh;
}
.ex{
    font-size: 2vw;
    color: .1da1f2;

}
.label{
    font-size: 1.5vw;
}
.class_label{
    font-size: 1.5vw;
}
.facebook_label{
    position: relative;
    padding-left: 5vw;
    top: 2vh;
}
.label_bottom{
    padding-left: 5vw;
    display: flex;
    position: absolute;
    font-size: 1vw;
    flex-direction: column;
    padding-top: 1vh;
}
.facebook_label{
    padding-top: -8vh;
    position: relative;
    padding-bottom: 8vh;
    top: 15vh;
}

.socials{
    justify-content: space-between;
}
.social{
    padding-bottom: -12vh;
}
/* Timeline Container */
.timeline {
    /* background: .; */
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Outer Layer with the timeline border */
  .outer {
    border-left: 2px solid .1da1f2;
  }
 .card .info p{
    /* color: .1da1f2; */
    margin-top: -1.2vh;
 }
 .info_header{
    font-weight: 600;
 }
  
  /* Card container */
  .card {
    position: relative;
    margin: 0 0 20px 20px;
    padding-left: -3vw;
    /* border: 1px solid red; */
    border-radius: 8px;
    max-width: 400px;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Title of the card */
  .title {
    font-weight: bolder;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    left: -41px;
    border: 3px solid .1da1f2;
  }
  .hrrr{
    margin-top: -3vw;
    width: 50.5vw;
    margin-left: 1.5vw;
  }
  .edu{
    font-size: 2vw;
    color: .1da1f2;
  }