@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  *{
    font-family: 'Montserrat', sans-serif;
  }
  .font-m{
    font-family: 'Montserrat', sans-serif;
  }
  .border-1{
    border-width: 1px;
  }
}