@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  *{
    font-family: 'Montserrat', sans-serif;
  }
  .font-m{
    font-family: 'Montserrat', sans-serif;
  }
  .border-1{
    border-width: 1px;
  }
  .stylus{
    transition: background-color 2s, font-weight ;
  }
  .stylus:hover{
    background-color: blue;
    font-weight: 700;
  }
  .z-full{
    z-index: 9999;
  }
  .leading-16{
    line-height: 3.8rem;
  }
  .my-list{
    list-style-type: image;
    list-style-image: url("../src/assets/check.png");
  }
  .hei{
    background-image: url("./src/assets/bread.jpg");
  }
  .border-6{
    border-width: 6px;
  }
  .border-3{
    border-width: 3px;
  }
  .stylin{
    transition: color 1s, font-weight 1.6s;
  }
  .stylin:hover{
    color: rgb(2, 2, 102);
    font-weight: bolder;
  }
  .st{
    transition: border-width 1s, border-color 1s;
  }
  .st:hover{
    border-width: 3px;
    border-color: rgb(117, 3, 3);
  }
}