@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  *{
    font-family: 'Montserrat', sans-serif;
  }
  .font-m{
    font-family: 'Montserrat', sans-serif;
  }
  .border-1{
    border-width: 1px;
  }
  .stylus{
    transition: background-color 2s, font-weight ;
  }
  .stylus:hover{
    background-color: blue;
    font-weight: 700;
  }
  .leading-16{
    line-height: 3.8rem;
  }
}